<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DraWar</title>
    <style>
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-family: Arial, sans-serif;
            font-size: 3rem;
            text-align:center;
        }
    </style>
</head>
<body>
    <div>
        <h1>DraWar</h1>
    </div>

    <div>
        <h4>coming soon...</h4>
    </div>

</body>
</html>
